{{define "goat-file"}}
    package {{.Package}}

    import (
        {{- range .Imports}}
            {{ . }}
        {{- end}}
    )

    {{- template "register-apps" .}}
{{end}}

{{define "register-apps"}}
    func init() {
    {{- range .Actions}}
        {{- template "register-function" . -}}
    {{- end -}}
    }
{{end}}


{{define "register-function"}}
    goat.Register({{.Function}}, func() goat.RunConfig {
        return goat.RunConfig{
            Flags: []cli.Flag{
            {{- range .Flags}}
                flags.MakeFlag[{{.Type}}]({{.Name}}, {{.Usage}}, {{.Default}}),
            {{- end}}
            },
            Name: {{.Name}},
            Usage: {{.Usage}},
            Action: func(c *cli.Context) error {
            {{- if .NoError }}
                {{- template "function-call" . }}
                return nil
            {{- else}}
                return {{ template "function-call" . -}}
            {{- end}}
            },
        }
    })
{{end}}

{{- define "function-call" -}}
    {{.Function}}(
    {{- range .Flags}}
        flags.GetFlag[{{.Type}}](c, {{.Name}}),
    {{- end}}
    )
{{- end}}