{{define "goat-file"}}
package {{.Package}}

import (
    "github.com/urfave/cli"
    "github.com/tmr232/goat"
    "log"
    "os"
    )

{{template "register-apps" .}}
{{end}}

{{define "register-apps"}}
func init() {
    {{range .Apps}}
        goat.Register({{.Signature.Name}}, {{template "app-wrapper" .}})
    {{end}}
}
{{end}}

{{define "app-wrapper" -}}
    func() {
        {{template "cli-app" .}}
    }
{{- end}}

{{define "cli-app"}}
    {{range $name, $flag := .Flags}}
        var {{$name}} {{$flag.Type}}
    {{- end}}

    __goatApp := &cli.App{
        Flags: []cli.Flag{
            {{range $name, $flag := .Flags}}
                {{$flag.Flag}}.AsCliFlag("{{$name}}", &{{$name}}),
            {{- end}}
        },
        Action: func(c *cli.Context) {
        {{.Signature.Name}}(
            {{ $base := . }}
            {{- range $index, $arg := .Signature.Args -}}
                {{- if $base.IsFlagPtr $arg.Name -}}
                    goat.GetOptional(c, {{$base.GetFlag $arg.Name }}.CliName({{$arg.Name}}), &question),
                {{- else -}}
                    {{$arg.Name}},
                {{- end -}}
            {{- end}}
        )
    },
    }

    __err := __goatApp.Run(os.Args)
    if __err != nil {
    log.Fatal(__err)
    }
{{end}}

