{{define "goat-file"}}
    package {{.Package}}

    import (
    "github.com/tmr232/goat"
    "github.com/tmr232/goat/flags"
    "github.com/urfave/cli/v2"
    )

    {{- template "register-apps" .}}
{{end}}

{{define "register-apps"}}
    func init() {
    {{- range .Actions}}
        {{- template "register-function" . -}}
    {{- end -}}
    }
{{end}}


{{define "register-function"}}
    goat.Register({{.Function}}, goat.RunConfig{
    Flags: []cli.Flag{
    {{- range .Flags}}
        {{- if not .IsContext}}
            flags.MakeFlag[{{.Type}}]({{.Name}}, {{.Usage}}, {{.Default}}).AsCliFlag(),
        {{- end}}
    {{- end}}
    },
    Name: {{.Name}},
    Usage: {{.Usage}},
    Action: func(c *cli.Context) error {
    {{- if .NoError }}
        {{- template "function-call" . }}
        return nil
    {{- else}}
        return {{- template "function-call" . -}}
    {{- end}}
    },
    CtxFlagBuilder: func(c *cli.Context) map[string]any {
    cflags := make(map[string]any)
    {{- range .Flags}}
        {{- if not .IsContext}}
            cflags[{{.Name}}] = flags.GetFlag[{{.Type}}](c, {{.Name}})
        {{- end}}
    {{- end}}
    return cflags
    },
    })
{{end}}

{{- define "function-call"}}
    {{.Function}}(
    {{- range .Flags}}
        {{ if .IsContext }}
            goat.GetContext(c),
        {{else}}
            flags.GetFlag[{{.Type}}](c, {{.Name}}),
        {{end}}
    {{- end}}
    )
{{- end}}