{{define "goat-file"}}
package {{.Package}}

import (
    "github.com/urfave/cli"
    "github.com/tmr232/goat"
    "log"
    "os"
    )

{{template "register-apps" .}}
{{end}}

{{define "register-apps"}}
func init() {
    {{range .Apps}}
        goat.Register({{.Func}}, {{template "app-wrapper" .}})
    {{end}}
}
{{end}}

{{define "app-wrapper" -}}
    func() {
        {{template "cli-app" .}}
    }
{{- end}}

{{define "cli-app"}}
    {{range $name, $flag := .Flags}}
        var {{template "var-name" $name}} {{$flag.Type}}
    {{end}}

    __goatApp := &cli.App{
    Flags: []cli.Flag{
        {{- range $name, $flag := .Flags}}
            {{$flag.Flag}}.AsCliFlag("{{$name}}", &{{$name}}),
        {{- end}}
    },
    Action: func(c *cli.Context) {
    {{.Func}}({{join .ArgNames ", "}})
    },
    }

    __err := __goatApp.Run(os.Args)
    if __err != nil {
    log.Fatal(__err)
    }
{{end}}

{{define "var-name"}}{{.}}{{end}}
{{define "string-flag" -}}
    &cli.StringFlag{
    Name:        "{{.Name}}",
    Destination: &{{template "var-name" .Name}},
    Required:    true,
    }
{{- end}}
{{define "bool-flag" -}}
    &cli.BoolFlag{
    Name:        "{{.Name}}",
    Destination: &{{template "var-name" .Name}},
    }
{{- end}}